/* :
 * =========
 * Add styling to your d3 chart with this file. */
.states {
  text-anchor: middle;
  dominant-baseline: middle;
  font-weight: bold;;
}

.dot {
    opacity: .2;
}

.embed-responsive {
  border: 1px solid #1a9eaf;
}

.active{
  font-weight: bold;
  fill: #1a9eaf;
  fill: #1a9eaf;
  transition: fill 0.5s ease-out;
  text-anchor: middle;
}

.inactive {
  font-weight: lighter;
  fill: #1a9eaf;
  transition: fill 0.5s ease-out;
  text-anchor: middle;
}
 	
.xaxis-text, .yaxis-text {
  fill: #1a9eaf;
  font-size: 16px;
  text-anchor: middle;
}

.tooltip {
  position: absolute;
  width: 85px;
  height: 45px;
  padding: 4px;
  font: 8px sans-serif;
  color: white;
  text-align: center;
  background: #1a9eaf;
  border: 0;
  border-radius: 10px;
}